# Nuxt / Nitro
.nuxt
.output
.data
.cache

# Node
node_modules
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local
!.env.example

# Editors / OS
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store

# Tests
coverage
.vitest
.evalite
evalite-results

# Build artefacts
dist
*.tsbuildinfo
