# --- APP SETTINGS ---
# The public URL of the application (e.g., https://example.com)
NUXT_PUBLIC_SITE_URL=

# Application base path (e.g., / or /some-folder/)
NUXT_APP_BASE_URL=

# --- SECURITY ---
# Comma-separated list of allowed hosts for Vite dev server NUXT_ALLOWED_HOSTS="example.com,foo.com"
NUXT_ALLOWED_HOSTS=

# --- API KEYS ---
# DeepSeek API Key (Get it at: https://platform.deepseek.com)
DEEPSEEK_API_KEY=your_api_key_here
